
      body {
  background: white;
}

.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}

.ear {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 33px;
  height: 30px;
  background: white;
  border-radius: 733% 690% 20% 10%;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  transform: rotate(-30deg);
}

.ear.right {
  border-radius: 97% 70% 50% 60%;
  left: 114px;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  transform: rotate(34deg);
}

.head {
  position: absolute;
  top: 6px;
  left: -3px;
  width: 153px;
  height: 125px;
  background: white;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 100%;
}


.eye1 {
  z-index: 2;
  position: absolute;
  top: 80px;
  left: 31px;
  background: black;
  width: 12px;
  height: 16px;
  border-radius: 100%;
}

.eye2 {
  z-index: 2;
  position: absolute;
  top: 80px;
  left: 109px;
  background: black;
  width: 12px;
  height: 16px;
  border-radius: 100%;
}

.nose {
  z-index: 2;
  position: absolute;
  top: 95px;
  left: 66px;
  border-width: 4.5px;
  border-color: black;
  border-style: solid;
  background: yellow;
  width: 13.5px;
  height: 7px;
  border-radius: 100%;
  animation: shake 3s infinite;
}


.whisker {
  position: absolute;
  top: 47px;
  left: -10px;
  width: 5px;
  height: 37px;
  background: black;
  border-radius: 60px;
  transform: rotate(101deg);
}

.whisker.left2 {
  transform: rotate(90deg);
  top: 69px;
  left: -10px;
}

.whisker.left3 {
  transform: rotate(-120deg);
  top: 90px;
  left: -6px;
}

.whisker.right1 {
  transform: rotate(77deg);
  top: 48px;
  left: 153px;
}

.whisker.right2 {
  transform: rotate(90deg);
  top: 67px;
  left: 155px;
}

.whisker.right3 {
  transform: rotate(118deg);
  top: 90px;
  left: 150px;
}


.circle{
  z-index: 3;
  position: absolute;
  top: 21px;
  left: 98px;
  background: black;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: red;
  border: solid 5px;
}

.left-inner{
  z-index: 2;
  position: absolute;
  top: 18px;
  left: 88px;
  background: black;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: red;
  border: solid 5px;
}

.right-inner{
  z-index: 2;
  position: absolute;
  top: 33px;
  left: 119px;
  background: black;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: red;
  border: solid 5px;
}

.left-outer{
  z-index: 2;
  position: absolute;
  top: 18px;
  left: 88px;
  background: black;
  width: 24px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
  border: solid 5px;
  border-radius: 265% 76% 0% 76%;
}


.right-outer{
  z-index: 2;
  position: absolute;
  top: 33px;
  left: 119px;
  background: black;
  width: 24px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
  border: solid 5px;
  border-radius: 733% 690% 20% 10%;
}





